.root {
  display: flex;
  flex-direction: row;

  padding: 0.4rem 0.2rem;
  border-radius: 0.5rem;
  background-color: transparent;
  margin-bottom: 0.3rem;
}

.number {
  background-color: transparent;
  flex: 0 0 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  background-color: transparent;
  display: flex;

  flex-shrink: 1;
  justify-content: center;
  flex-direction: column;
}

.selected {
  background-color: #272727;
}
