.card {
  width: 16.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.4rem;
  background-color: transparent;
  margin-right: 1rem;
  border-radius: 1rem;
  position: relative;
}

.cardhorizontal {
  max-width: 100%;

  width: 100%;
  margin: 0 0.2rem;
  background-color: transparent;
  margin-bottom: 0.5rem;
  flex-direction: row;
  position: relative;
  border-bottom-width: 0.03rem;
  border-color: transparent;
}

.thumbnail {
  border-radius: 1rem 1rem 0 0;
  height: 11rem;
  width: 100%;
}

.thumbnailhorizontal {
  margin-top: 0.7rem;
  height: 4.5rem;
  width: 4.8rem;
}

.info {
  flex: 1;
  padding: 0.5rem;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

.infohorizontal {
  flex: 1;
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: transparent;
}

.price {
  top: 16;
  right: 16;
  border-radius: 0.8rem;
  position: absolute;
  background: rgb(255, 255, 255);
}

.pricetext {
  font-size: 0.7rem;
  color: rgb(37, 37, 37);
  padding: 3px 8px;
  font-weight: 700;
}

.coursetitle {
  font-family: 'Nunito-Semibold';
  font-size: 1.1rem;
}

.author {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.description {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.people {
  font-size: 0.8rem;
}

.rating {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
}

.menucontainer {
  width: 0.4rem;
  margin-right: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pathcontenthorizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.5rem;
}

.pathcardhorizontal {
  max-width: 100%;
  width: 100%;
  padding: 1rem 0.2rem;
  flex-direction: row;
  position: relative;
  border-top-width: 0.03rem;

  border-color: rgb(113, 113, 113);
}

.thumbnailhorizontalpath {
  height: 4rem;
  width: 5rem;
}

.pathcard {
  width: 14rem;
  margin-bottom: 0.5rem;
  margin-left: 0.4rem;

  margin-right: 1rem;
  border-radius: 0.4rem;
  position: relative;
}

.thumbnailpath {
  border-radius: 0.4rem 0.4rem 0 0;
  height: 8rem;
  width: 100%;
}
