.root {
  margin-top: 2rem;
  margin-bottom: 0.3rem;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}

.title {
  font-weight: 700;
  font-size: 1.3rem;
}

.seeall {
  font-size: 13px;
  padding: 0;
}

.horizontal {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}
