.root {
  flex: 1;
  padding: 30px 1rem;
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  width: 28;
  height: 28;
}

.hello {
  font-family: 'Nunito-Semibold';
  font-size: 28px;
}

.description {
  margin-top: 5px;
  font-family: 'Nunito-Semibold';
  font-size: 20px;
  color: rgb(141, 141, 141);
}

.search {
  margin-top: 18px;

  z-index: 99;

  border-radius: 15px;
}

.searchbar {
  position: relative;
}

.searchicon {
  position: absolute;
  z-index: 999;
  height: 1.4rem;
  width: 1.4rem;
  top: 24;
  left: 16;
}
