.root {
  margin-top: 1.6rem;
  padding: 10px;
}

.chips {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.section {
  margin-top: 2rem;
}

.sectionheader {
  margin-bottom: 0.8rem;
}

.category {
  text-align: left;
}
