.root {
  margin-top: 1.6rem;
  padding: 10px;
}

.chips {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.section {
  margin-top: 2rem;
}

.sectionheader {
  margin-bottom: 1.2rem;
}

.btnicon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.4rem;
}

.category {
  text-align: left;
}

.notfound {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margintop {
  margin-top: 2rem;
}

.categoryshow {
  margin-bottom: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.margintopsmall {
  margin-top: 1.3rem;
}

.historybutton {
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.header {
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: 0.8rem;
}

.tabContainer {
  padding: 1rem;
}
