.sectionheader {
  margin-bottom: 0.8rem;
}

.btnicon {
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 0.4rem;
}

.category {
  text-align: left;
}

.notfound {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margintop {
  margin-top: 2rem;
}

.categoryshow {
  margin-bottom: 1.1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.margintopsmall {
  margin-top: 1.3rem;
}

.btnicon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
}
